<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            height: 100vh;
            /*background-color: red;*/
            padding-top: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .content {
            /*margin-top: -200px;*/
            border-left: solid 1px red ;
        }
    </style>

</head>
<body>

<div class="container">

    <div class="content">
        <%- body%>
    </div>
</div>
</body>
</html>
